.version.gallery /* version checker */
{
	color: #0000F6;
	background-color: #7FB4A8;
}

.html
{
	background-color: #F5F1EE;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 594px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u145
{
	z-index: 35;
	min-height: 96px;
	padding-bottom: 14px;
}

#u145_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u146
{
	z-index: 36;
	width: 300px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 91px;
}

#menuu182
{
	z-index: 38;
	width: 369px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 691px;
}

#u198
{
	width: 90px;
	padding-bottom: 17px;
}

#u200-4
{
	width: 90px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u191
{
	width: 91px;
	padding-bottom: 17px;
}

#u193-4
{
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u186
{
	width: 91px;
	padding-bottom: 17px;
}

#u187-4
{
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u205
{
	width: 91px;
	padding-bottom: 17px;
}

#u208-4
{
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u145-bw
{
	z-index: 35;
	min-height: 96px;
}

#u124
{
	z-index: 2;
	min-height: 219px;
}

#u124_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 42px;
	padding-bottom: 84px;
}

#pu142
{
	width: 0.01px;
	left: 122px;
	position: relative;
}

#u142
{
	z-index: 8;
	width: 360px;
	height: 26px;
	margin-right: -10000px;
	margin-top: 17px;
}

#u125
{
	z-index: 3;
	width: 180px;
	padding-bottom: 11px;
	margin-right: -10000px;
	left: 368px;
}

#u125:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u125:active
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u141-4
{
	z-index: 4;
	width: 138px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 21px;
}

#u144
{
	z-index: 9;
	width: 360px;
	height: 26px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 556px;
}

#menuu151
{
	z-index: 10;
	width: 369px;
	left: 395px;
	margin-top: 15px;
}

#u197,#u159
{
	width: 90px;
	min-height: 34px;
	margin-right: -10000px;
}

#u162
{
	width: 90px;
	padding-bottom: 17px;
}

#u198.MuseMenuActive,#u162.MuseMenuActive
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u163-4
{
	width: 90px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u198.MuseMenuActive #u200-4,#u162.MuseMenuActive #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u190,#u152
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 92px;
}

#u153
{
	width: 91px;
	padding-bottom: 17px;
}

#u156-4
{
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u183,#u167
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 185px;
}

#u168
{
	width: 91px;
	padding-bottom: 17px;
}

#u170-4
{
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u204,#u174
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 278px;
}

#u177
{
	width: 91px;
	padding-bottom: 17px;
}

#u191.MuseMenuActive,#u186.MuseMenuActive,#u205.MuseMenuActive,#u153.MuseMenuActive,#u168.MuseMenuActive,#u177.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u179-4
{
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u191.MuseMenuActive #u193-4,#u186.MuseMenuActive #u187-4,#u205.MuseMenuActive #u208-4,#u153.MuseMenuActive #u156-4,#u168.MuseMenuActive #u170-4,#u177.MuseMenuActive #u179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u124-bw
{
	z-index: 2;
	min-height: 219px;
	margin-top: 601px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -601px;
}

