.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

#u141-4,#u163-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u156-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u170-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u179-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u252-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u263-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u272-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u259-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u289-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

