#u165-9,#u166-10,#u167-9
{
	font-family: ubuntu-mono-n4, sans-serif;
}

#u155-4,#u160-4,#u161-4,#u351-4
{
	font-family: droid-sans-mono-n4, sans-serif;
}

#u163-6
{
	font-family: lato-n4, sans-serif;
}

#u209-4
{
	font-family: quicksand-n4, sans-serif;
}

#u171-4
{
	font-family: medula-one-n4, serif;
}

#u346-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#pu401.PamphletThumbSelected #u419-4 p,#u419-4
{
	font-family: ubuntu-mono-n7, sans-serif;
}

#u360-4
{
	font-family: ubuntu-mono-n7, sans-serif;
}

#u343-4
{
	font-family: quicksand-n7, sans-serif;
}

#u399-4,#u318-4
{
	font-family: ubuntu-mono-n4, sans-serif;
}

#u272-4
{
	font-family: open-sans-n4, sans-serif;
}

#u321-4
{
	font-family: ubuntu-mono-n4, sans-serif;
}

#u322-4
{
	font-family: ubuntu-mono-n4, sans-serif;
}

#u345-4,#u312-4
{
	font-family: droid-sans-n4, sans-serif;
}

